header {
    background-image: linear-gradient(darken($body-color, 10%), $body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 10px;
}

.hamburger-menu {
    width: 30px;
    height: 30px;
}

.hamburger-menu span {
    display: block;
    background-color: black;
    width: 100%;
    height: 2px;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}